$social-media-colors: (
    facebook: #1976D2,
    twitter: #56ACEE,
    youtube: #FF0000,
    instagram: #D1218F
);

$pricing-view-colors: (
    purple: linear-gradient(to right, #A1A6F0 , #6A70DD),
    white: white,
    background: #F1F1FD
);
