.social-media-dasboard-card {
    border-radius: 8px;

    .label-followes {
        position: relative;
        top: -10px;
    }

    .span-today {
        color: #1db489;
    }
    .label-today-small-card {
        position: relative;
        top: 6px;
    }
}

.dark-mode {
    > div {
        @media (min-width: map-get($grid-breakpoints , "xs")) {
            border-top: 3px solid #F0F2FA;
            padding-top: 20px;
        }
        
        @media (min-width: map-get($grid-breakpoints , "md")) {
            border-top: 0px ;
            padding-top: 0px;
        }

        span {
            color: #aeb3cb;
            font-weight: bold;
        }
    }
}
